* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #c15cff, #ff5454);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-container {
  padding: 15px;
  background: linear-gradient(to right, #eb4174, #ffe3e3);
  max-width: 600px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 0 8px 2px #ffffff60;
  color: #111;
}

.title-and-text {
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eb4174;
  display: flex;
  justify-content: space-between;
}
.title-and-text h1 {
  font-size: 22px;
}
.title-and-text button {
  border: none;
  background: linear-gradient(to right, #a11df3, #ff5454);
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.title-and-text button::after {
  content: "";
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #ff5454, #a11df3);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.title-and-text button:hover::after {
  width: 100%;
}

/* ************** */
/* FOOTER STYLING */
/* ************** */
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
footer h3 {
  color: #111;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: cursive;
}
